* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 50px;
    font-weight: lighter;
}

h1 {
    font-size: 30px;
    font-weight: lighter;
}

p {
    font-size: 20px;
}

li {
    list-style: none;
}

button {
    width: 160px;
    height: 40px;
    color: white;
    background-color: rgb(24, 135, 209);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 5px 6px rgba(0, 0, 0, .15);
    background-color: rgb(65, 174, 225);
}

.index-body,
.search-body,
.checkBills-body {
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    height: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}